ion-content{
    --background:var(--ion-color-success);
  }
  
  ion-slides{
    background-color: var(--ion-color-success);
    height: 100%;
    max-width: 800px;
  }
  .swiper-slide{
    display: block;
    margin-bottom: 60px;
    background-color: antiquewhite;
    overflow-y: scroll;
  }